﻿@{
    ViewBag.Title = "Form";
}

<div id="content" ng-controller="FormController">
    <h2>{{FormName}} Form</h2>

    <div ng-class="result">{{message}}</div>
    <hr />
    <form ng-submit="submitForm()" name="frmForm">
        <div>
            <label for="name">Nome</label>
            <input type="text" ng-model="form.Name" name="name" required ng-minlength="4" ng-maxlength="14" />
        </div>

        <br />

        <div>
            <div>
                <label>Campos</label>
                <p>
                    <button type="button" ng-click="addNewField()">Adicionar campo</button>
                </p>

                <p>Total de campos (10 no mínimo): {{form.Fields.length}}</p>
            </div>

            <div class="form-group" data-ng-repeat="field in form.Fields">
                <div>
                    <label for="description">Descrição</label>
                    <input type="text" ng-model="field.Description" name="description" required />

                    <label for="type">Tipo</label>
                    <select ng-init="field.TypeID = setTypeId(field.TypeID, $index)"
                            ng-model="field.TypeID"
                            ng-options="type.TypeID as type.Description for type in types"
                            ng-change="getValueTypesByType(field.TypeID, $index)" required>
                        <option value="">Selecione um tipo</option>
                    </select>

                    <label for="valueType">Tipo do Valor</label>
                    <select ng-model="field.ValueTypeID"
                            ng-options="valueType.ValueTypeID as valueType.Description for valueType in valueTypes[$index]" required>
                        <option value="">Selecione um tipo de valor</option>
                    </select>

                    <button type="button" ng-click="removeField($index)">Remover campo</button>
                </div>
            </div>
        </div>

        <br />

        <div>
            <label>Vigência</label>

            <div>
                <label for="name">Início:</label>
                <input type="date" ng-model="form.StartingValidity" name="startingValidity" startdate />

                <label for="name">Fim:</label>
                <input type="date" ng-model="form.EndingValidity" name="endingValidity" enddate />

                <div ng-show="frmForm.startingValidity.$dirty && frmForm.startingValidity.$error.startdate">A data inicial deve ser maior que a data atual</div>
                <div ng-show="frmForm.endingValidity.$dirty && frmForm.endingValidity.$error.enddate">A data final não pode ser inferior à inicial</div>
            </div>
        </div>

        <br />

        <div>
            <button type="submit" ng-disabled="customValidity(frmForm)">Salvar</button>
        </div>
    </form>
</div>