﻿@model PagedList.IPagedList<DynamicForms.Models.Form>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

@using (Html.BeginForm("List", "Forms", FormMethod.Get))
{
    <p>
        Status do Formulário: @Html.DropDownList("SelectedStatus", "Todos")
        <input type="submit" value="Filtrar" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nome", "List", new { selectedStatus = ViewBag.SelectedStatusID, sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Vigência: Início", "List", new { selectedStatus = ViewBag.SelectedStatusID, sortOrder = ViewBag.StartingValiditySortParm })
        </th>
        <th>
            @Html.ActionLink("Vigência: Fim", "List", new { selectedStatus = ViewBag.SelectedStatusID, sortOrder = ViewBag.EndingValiditySortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingValidity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndingValidity)
            </td>
            <td>
                @Html.ActionLink("Editar", "Create", new { id = item.FormID })
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("List",
    new { selectedStatus = ViewBag.SelectedStatusID, sortOrder = ViewBag.CurrentSort, page }))
